
.sidebar-shortcuts {
}

.sidebar-shortcuts-large {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    color: #2b7dbc;
    line-height: 40px !important;
}

.sidebar-shortcuts-large i {
    display: inline-block;
    min-width: 30px;
    margin: 0 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-tabs.background-white {
    padding-top: 0;
    background-color: #FFFFFF;
    border: 1px solid #C5D0DC;
}

.ace-settings-container {
    top: -41px;
}

.nav.nav-tabs.padding-48 {
    padding-left: 48px;
}

.search-icon {
    font-size: 18px;
    text-align: center;
    color: #B3C9E3;
}

.table-style-1 {
    border-top: 1px solid #C2C3C5 !important;
}

.table-style-1 .header-group > td {
    font-weight: bold;
}

.table-style-1.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #F4F7FB !important;
}

.table-style-1.table-hover > tbody > tr:hover > td, .table-style-1.table-hover > tbody > tr:hover > th {
    background-color: #F4F7FB;
}

.table-style-1.table > thead > tr > th, .table-style-1.table > tbody > tr > th, .table-style-1.table > tfoot > tr > th, .table-style-1.table > thead > tr > td, .table-style-1.table > tbody > tr > td, .table-style-1.table > tfoot > tr > td {
    border-top: 1px dotted #CADEF6;
}

.table-style-1.table > thead > tr {
    color: #333333;
    font-weight: 400;
    background: #E8EFF7 !important;
}