body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 1160px;
    background-color: #D1E2EA;
    font-family: "Microsoft YaHei", "Open Sans", Arial, Helvetica, Sans-Serif;
}

.font-80 {
    font-size: 80%;
}

.font-160 {
    font-size: 160%;
}

#header {
    padding-top: 24px;
    height: auto;
    color: #2A569D;
}

.header-info > div {
    margin-left: 12px;
    font-size: 16px;
    display: inline-block;
}

.list-1 {
    list-style: none;
}

.list-1 > li {
    padding-right: 48px;
    position: relative;
    float: left;
}

.list-1 > li > div {
    font-size: 16px;
    margin-left: 18px;
    display: inline-block;
}

.list-1 > li:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -12px;
    height: 110%;
    border-left: 1px solid #97BED3;
    border-right: 1px solid #ffffff;
}

#main {
}

#main:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    max-width: inherit;
    top: 100px;
    bottom: 20px;
    right: 10px;
    left: 10px;
    background-color: #2A569D;
}